<main>
  <app-card-course></app-card-course>
  <section class="form-section">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="path-form">
      <label for="caminho">📂 Caminho da Pasta (Windows):</label>
      <div class="form-input-group">
        <input
          type="text"
          id="caminho"
          formControlName="caminho"
          placeholder="Ex: C:\\Users\\MeuUsuario\\Documentos"
          required />
        <button type="submit" [disabled]="form.invalid">Enviar</button>
      </div>
    </form>

    @if (form.invalid == true) {
      <p class="error-message">Por favor, insira um caminho válido.</p>
    }
  </section>

  <section id="tree-section" class="tree-section">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

      <!-- Nó com filhos (pastas) -->
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <app-tree-checkbox
          [node]="node"
          [treeControl]="treeControl"
          [checklistSelection]="checklistSelection"
          [isNecessaryShowName]="true"
          [isLeaf]="false"
          (toggleSelection)="todoItemSelectionToggleByNodeWithChild($event)">
        </app-tree-checkbox>
      </mat-tree-node>

      <!-- Nó folha (arquivos) -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <span class="file-name">{{ node.item }}</span>
        <button mat-icon-button color="primary" (click)="playVideo(node)">
          <mat-icon>play_circle</mat-icon>
        </button>
        <app-tree-checkbox
          [node]="node"
          [treeControl]="treeControl"
          [checklistSelection]="checklistSelection"
          [isNecessaryShowName]="false"
          [isLeaf]="true"
          (toggleSelection)="todoItemSelectionToggleLeaf($event)">
        </app-tree-checkbox>
      </mat-tree-node>
    </mat-tree>
  </section>

  <!-- Modal de vídeo -->
  <div class="video-modal-backdrop" *ngIf="videoUrl">
    <div class="video-modal">
      <button class="close-button" (click)="closeVideo()">✖</button>
      <h3>{{ videoFileName }}</h3>
      <video controls autoplay preload="auto">
        <source [src]="videoUrl" type="video/mp4">
        Seu navegador não suporta vídeo HTML5.
      </video>
    </div>
  </div>

  <ng-toast [position]="TOAST_POSITIONS.TOP_RIGHT" [width]="350"></ng-toast>
</main>
