<main>
  <section>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="caminho">Caminho da Pasta (Windows):</label>
      <input
        type="text"
        id="caminho"
        formControlName="caminho"
        placeholder="Ex: C:\\Users\\MeuUsuario\\Documentos"
        required
      />
      <button type="submit" [disabled]="form.invalid">Enviar</button>
    </form>

    <div *ngIf="form.invalid && form.touched">
      <p style="color:red;">Por favor, insira um caminho válido.</p>
    </div>


  </section>
  <section>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

      <!--Nó com filhos (pastas)-->
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
          [attr.aria-label]="'toggle ' + node.filename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-checkbox [checked]="descendantsAllSelected(node)"
          [indeterminate]="descendantsPartiallySelected(node)"
          (change)="todoItemSelectionToggleByNodeWithChild(node)">{{node.item}}</mat-checkbox>
      </mat-tree-node>

      <!-- No folha sem filhos-->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle
        matTreeNodePadding>
        <button mat-icon-button disabled></button>
  <span>{{ node.item }}</span>

<button mat-icon-button color="primary" (click)="playVideo(node)">
  <mat-icon>play_circle</mat-icon>
</button>

<button mat-icon-button
  [color]="isWatched(node) ? 'accent' : undefined"
  (click)="toggleWatched(node)">
  <mat-icon>
    {{ isWatched(node) ? 'check_circle' : 'radio_button_unchecked' }}
  </mat-icon>
</button>

      </mat-tree-node>
    </mat-tree>

  </section>

<div class="video-modal-backdrop" *ngIf="videoUrl">
  <div class="video-modal">
    <button class="close-button" (click)="fecharVideo()">✖</button>
    <h3>{{ videoFileName }}</h3>
    <video controls autoplay preload="auto">
      <source [src]="videoUrl" type="video/mp4">
      Seu navegador não suporta vídeo HTML5.
    </video>
  </div>
</div>




</main>
