.tree-table .mat-tree {
  display: flex;
  align-items: center;
  background-color: red!important;
  color: white;
}

.checklist-leaf-node {
  margin-left: 8px;
}

mat-tree-node {
  display: flex;
  align-items: center;
}

mat-icon {
  vertical-align: middle;
}

span {
  margin-left: 6px;
  font-size: 0.9em;
}


.video-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.video-modal {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.video-modal video {
  width: 100%;
  height: auto;
  max-height: 70vh;
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}


mat-tree-node button {
  margin-left: 0.5rem;
}
